extends layout 

block content
  // Navigation
  nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
    a.navbar-brand.js-scroll-trigger(href='#page-top')
      span.d-block.d-lg-none Eduardo León
      span.d-none.d-lg-block
        img.img-fluid.img-profile.rounded.mx-auto.mb-2(src='/assets/img/perfil3.jpeg' alt='...')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#about') Acerca De  
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#experience') Experiencia
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#education') Educación 
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#skills') Habilidades
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#interests') Intereses
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#awards') Logros 
  // Page Content
  .container-fluid.p-0
    // About
    section#about.resume-section
      .resume-section-content
        h1.mb-0
          | Eduardo
          span.text-primary León 
        .subheading.mb-5
          | 6301 Calle miramar &middot; Porlamar, Nueva Esparta, Venezuela &middot; (+58) 424 8587119 &middot;
          a(href='mailto:eduleon78@gmail.com') eduleon78@gmail.com
        p.lead.mb-5
          | Soy un entusiasta desarrollador Full-Stack con mayor dominio en la arquitectura Backend develop, consciente del papel fundamental que juega la técnologia en estos tiempos, cada día no paro de actualizar mis conocimientos y aprender nuevas tecnologías, ese es mi proposito. 
        .social-icons
          a.social-icon(href='https://www.linkedin.com/in/eduardo-a-le%C3%B3n-s-8402a05b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B82s8dG%2FiQ1ygQY3rz9RVWA%3D%3D')
            i.fab.fa-linkedin-in
          a.social-icon(href='https://github.com/eduleon78')
            i.fab.fa-github
          a.social-icon(href='https://twitter.com/Eduleon78')
            i.fab.fa-twitter
          a.social-icon(href='https://www.facebook.com/EDULEON78')
            i.fab.fa-facebook-f
    hr.m-0
    // Experience
    section#experience.resume-section
      .resume-section-content
        h2.mb-5 Experiencia
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Basic Web Developer
            .subheading.mb-3 Free lancer 
            p
              | Fue mi inicio como desarrollador construyendo algunos proyectos personales, tambien para empresas privadas, tanto desarrollos web como desarrollos app-mobiles, algunos para niños, tambien cumpliendo con el seguimiento a traves de medicion de metricas de otros proyectos.
          .flex-shrink-0
            span.text-primary 2020
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Junior Web Developer
            .subheading.mb-3 Free lancer
            p
              | Actualmente desarrollo proyectos para el área gubernamental, algunos tipo web y otros SPA con la utilizacion de framework como AngularJS, resaltando la seguridad de los datos en cada uno, tambien hasta el momento llevo el seguimiento y control de metricas de las mismas.
          .flex-shrink-0
            span.text-primary 2021
    hr.m-0
    // Education
    section#education.resume-section
      .resume-section-content
        h2.mb-5 Educación        
        .d-flex.flex-column.flex-md-row.justify-content-between
          .flex-grow-1
            h3.mb-0 U.E Fray Elias Maria Sendra.  
            .subheading.mb-3 Bachiller en Humanidades 
            div Estudios de Educacion Básica, media y diversificada: completados. 
            p UBICACION: Porlamar, Nueva Esparta
          .flex-shrink-0
            span.text-primary Octubre 1991 - 1996
        .d-flex.flex-column.flex-md-row.justify-content-between
          .flex-grow-1
            h3.mb-0 Universidad Santa Maria (USM)
            .subheading.mb-3 Abogado
            div Estudios de pregrado: completado. 
            p UBICACION: Barcelona, Anzoátegui
          .flex-shrink-0
            span.text-primary Octubre 1996 - 2001
        .d-flex.flex-column.flex-md-row.justify-content-between
          .flex-grow-1
            h3.mb-0 Universidad de Oriente (UDO)
            .subheading.mb-3 Facilitador docente
            div Estudios de Nivelación Docente: completado. 
            p UBICACION: La Asunción, Nueva Esparta
          .flex-shrink-0
            span.text-primary Octubre 1996 - 2001
        .d-flex.flex-column.flex-md-row.justify-content-between
          .flex-grow-1
            h3.mb-0 Universidad Interamericana de Panama (UIT)
            .subheading.mb-3 MBA en Mercadeo.
            div Maestría en Administración de Negocios con énfasis en Mercadeo. 
            p UBICACION: Ciudad de Panamá, Panamá
          .flex-shrink-0
            span.text-primary Marzo 2018 - 2019
    hr.m-0
    // Skills
    section#skills.resume-section
      .resume-section-content
        h2.mb-5 Habilidades 
        .subheading.mb-3 Languajes de Programación &amp; Herramientas 
        ul.list-inline.dev-icons
          li.list-inline-item
            i.fab.fa-html5
          li.list-inline-item
            i.fab.fa-css3-alt
          li.list-inline-item
            i.fab.fa-js-square
          li.list-inline-item
            i.fab.fa-angular
          li.list-inline-item
            i.fab.fa-bootstrap
          li.list-inline-item
            i.fab.fa-node-js
          li.list-inline-item
            i.fab.fa-npm
          li.list-inline-item
            i.fab.fa-node          
          li.list-inline-item
            i.fab.fa-android 
          li.list-inline-item
            i.fab.fa-java 
          li.list-inline-item
            i.fab.fa-git
          li.list-inline-item
            i.fab.fa-github
          li.list-inline-item
            i.fab.fa-bitbucket
          li.list-inline-item
            i.fab.fa-google  
          li.list-inline-item
            i.fab.fa-linux      
          li.list-inline-item
            i.fab.fa-windows                  
        .subheading.mb-3 Flujo de Trabajo
        ul.fa-ul.mb-0
          li
            span.fa-li
              i.fas.fa-check
            | Habilidades de desarrollo Web &amp; Mobil
          li
            span.fa-li
              i.fas.fa-check
            | Web, Web-App &amp; Mobil, Responsive Design
          li
            span.fa-li
              i.fas.fa-check
            | Desarrollo mobil con lenguaje Java
          li
            span.fa-li
              i.fas.fa-check
            | Dominio de IDE para la plataforma Android Studios 
          li
            span.fa-li
              i.fas.fa-check
            | Pruebas &amp; Depuración entre navegadores 
          li
            span.fa-li
              i.fas.fa-check
            | Desarrollo de páginas SPA con Angular Framework
          li
            span.fa-li
              i.fas.fa-check
            | Manejo de NodeJS &amp; Npm
          li
            span.fa-li
              i.fas.fa-check
            | Enfasis en Server-Side Development con NodeJs &amp; Express
          li
            span.fa-li
              i.fas.fa-check
            | Database MongoDB &amp; MySql
          li
            span.fa-li
              i.fas.fa-check
            | Manejo de Typescript &amp; Redux
          li
            span.fa-li
              i.fas.fa-check
            | Analisis y Procesamiento de Datos
          li
            span.fa-li
              i.fas.fa-check
            | Dominio de sistemas Windows &amp; Linux      
    hr.m-0
    // Interests
    section#interests.resume-section
      .resume-section-content
        h2.mb-5 Intereses 
        p
          | Aparte de ser un desarrollador web, intento distribuir el tiempo en otras cosas que me interesan. Fuera de la casa intento hacer rutinas de ejercicios. Mis deporte preferido son el beisol y el basquetbol, tambien ir a la playa los fines de semana, aunque prefiero el deporte.
        p.mb-2 
          | Cuando me veo obligado a entrar en casa, sigo una serie de películas y programas de televisión de ciencia ficción y Suspenso, me gusta cocinar y paso gran parte de mi tiempo libre explorando los últimos avances tecnológicos en el mundo del desarrollo web Back-end.
        p.mb-0
          | Muchas cosas llaman mi atencion pero el desarrollo de nuevas tecnologias son para mi lo más resaltante y en eso enfoco mi interés. 
    hr.m-0
    // Awards
    section#awards.resume-section
      .resume-section-content
        h2.mb-5 Logros &amp; Certificaciones
        ul.fa-ul.mb-0
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Escuela de Organización Industrial - Comercio Electronico 2019
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Universidad Complutense Madrid - Desarrollo de Apps Mobiles 2019          
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Universidad Autónoma de Mexico - Progamando con java para app Android 2020
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Universidad Autónoma de Mexico - Fundamentos de Android 2020
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Universidad Autónoma de Mexico - Desarrollo de aplicaciones con Android 2020
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Universidad De Los Andes - Introduccion al desarrollo Web 2021
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Universidad Austral - Desarrollo del lado del Servidor: NodeJS, Express y MongoDB 2021
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Jhon Hopking University - HTML, CSS and JavaScript for develover 2021
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - University of California - Davies - JavaScript Basic 2021
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - University of California - Davies - SQL for data Science 2021
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - University of California - Davies - Animation with JavaScript and JQuery 2021
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - University of California - Davies - Interactivity with JavaScript and JQuery 2021
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Hong Kong University of Science - Server-side Development with NodeJs, Express And MongoDB 2021
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - University of Michigan - Introduction to CSS3 2022
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - University of Michigan - Interactivity with javaScript 2022
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Universidad Austral - Desarrollo de paginas con Angular 2022
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Google - Fundations: Data, Data, Everywhere - 2022
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Google - Prepare Data for Exploration - 2022
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Google - Ask Questions to Make Data-Driven Decisions - 2022
          li
            span.fa-li
              i.fas.fa-trophy.text-warning
            | Certificado - Coursera Project Networ - Getting Started with Microsoft Word - 2022  
          
  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='../../js/scripts.js')

